.historicoContainer{
    width: 80%;
    margin-left:10%;
    margin-rigth:10%;
    height: 100vh;
    background-color: RED;
    font-size: 50px;
    .venda{
        width:100%;
        background-color: BLUE;
        height: auto;
        .quantProdutos{
            float:left;
            width:40%;
            overflow:hidden;
        }
        .valorDaVenda{
            float:left;
            width:30%;
            overflow:hidden;
        }
        .DataDaVenda{
            float:left;
            width:30%;
            overflow:hidden;
        }
    }
}
