.sideBarCompra{
    float: left;
    width: 25%;
    height: calc(100% - 100px);
    background-color: #D6E6F2;
    text-align: center;
    h1{
        color: #112D4E;
    }
    button{
        cursor: pointer;
        padding: 1.5rem;
        color: white;
        border: none;
        background-color: #112D4E;
    }
}
.carrinhoContainer{
    width: 75%;
    height: calc(100% - 100px);
    background-color: #D6E6F2;
    float: left;

    .listaResultados{
        margin: 0% 15% 0% 15%;
        width: 70%;
        height: 19rem;
        overflow: auto;
    }
    .barraDePesquisa{
        margin: 2% 15% 0% 15%;
        height: 3.8rem;
        width: 70%;
        font-size: 24px;
        border: 1px solid blue;
        padding-left: 5px;
    }
    .resultadoPesquisa{
        cursor: pointer;
        background-color: #151D3B;
        height: 3.8rem;
        width: 100%;
        font-size: 24px;
        color: white;
        border: #112D4E 1px solid;
        overflow: hidden;

    }
    .resultadoPesquisa:hover{
        background-color: #D6E6F2;
        color: #151D3B;
    }

}
.carrinho{
    border: 1px solid black;
    margin: 5% 10%;
    width: 80%;
    background-color: white;
    float: left;
    div{
        height: 20px;
    }

    .nomeDoProduto{
        width: 75%;
        overflow: hidden;
        float: left;
        margin-right: 2%;
    }
    .quantDoProduto{
        float: left;
        width: 8%;
        margin-right: 3%;
        
    }
    .valorDoProduto{
        float: left;
        width: 9%;

    }
    .excluirDoCarrinho{
        float: left;
        width: 3%;
        img{
            height: 13px    ;
        }
    }
}