.produtosContainer{
    width: 80%;
    margin: 0% 10%;
    .listaProdutos{
        div{
            border: 0.1px solid black;
            float: left;
            text-align: center;
            background-color: hsl(212, 63%, 22%);
            color: white;
            height: 1.55rem;
            overflow: hidden;
            font-size: large;
        }
        .nomeDoProduto{
            width: 69%;
            overflow: hidden;
        }
        .quantDoProduto{
            background-color: hsl(212, 63%, 22%);
            width: 13%;
            
        }
        .valorDoProduto{
            width: 12%;
        }
        .divButao{
            width: 3%;
            img{
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
            .botaoAtualizarProduto{
                border: none;
                cursor: pointer;
                background-color: white;
            }
            .botaoDeletarProduto{
                border: none;
                cursor: pointer;
                background-color: white;
            }
        }
    }
    .listaProdutos:first-child{
        font-weight: bold;
    }
}

.botaoAdicionar{
    border: none;
    border-radius: 4rem;
    color: white;
    background-color: #6320EE;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5vw;
    margin: 1rem 42vw;
    cursor: pointer;
}
.botaoAdicionar:hover{
    color: #3FC1C9;
}

.modalDeletar{
    position: fixed;
    margin: 15vh 25vw;
    width: 50vw;
    height: auto;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    button{
        border: none;
        color: white;
        background-color: red;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 2vw;
        margin: 1rem;
        cursor: pointer;
    }

    button:hover{
        color: cyan;
    }

    :last-child{
        background-color: rgb(41, 41, 41);
    }
    :last-child:hover{
        color: cyan;
    }
}
.modal{
    position: fixed;
    margin: 5vh 25vw;
    width: 50vw;
    height: 70vh;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    h1{
        padding: 10px;
        font-size: 16px;
    }
    
    input{  
        width: 35vw;
        height: 10vh;
        padding: 3px;
        background-color: rgb(236, 225, 225);
        font-size: 1.2rem;
        margin: 2vh;
    }

    button{
        border: none;
        color: white;
        background-color: blue  ;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 2vw;
        margin: 1rem;
        cursor: pointer;
    }

    button:hover{
        color: cyan;
    }

    :last-child{
        background-color: red;
    }
    :last-child:hover{
        color: rgb(216, 139, 111);
    }
}

.outModal{
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.826);
    
}